<section ng-controller="InfoWorkflowController as infoCtrl">

	<header
		ng-include="'app/common/controllers/workflow-detail-header.tpl.html'"></header>

	<div class="workflow-detail-section-content">

		<h2>General information</h2>


		<form class="form-horizontal" ng-submit="infoCtrl.saveWorkflowInfos()" name="edit_form">
			<fieldset ng-disabled="infoCtrl.workflow.userLock">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Title</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="title" ng-model="infoCtrl.input_edit.name" required />
					</div>
				</div>
	
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="description"	ng-model="infoCtrl.input_edit.description"></textarea>
					</div>
				</div>
	
				<div class="form-group">
					<label for="tags" class="col-sm-2 control-label">Tags</label>
					<div class="col-sm-10">
						<tags-input ng-model="infoCtrl.input_edit.tags" replace-spaces-with-dashes="false" add-on-blur="false" key-property="id" display-property="label" placeholder="Add tags">
		                    <auto-complete source="infoCtrl.applicationService.getNgTagsInputTags($query)"></auto-complete>
			          </tags-input>
					</div>
				</div>
	
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Processing frequency</label>
					<div class="col-sm-5">
						<select class="form-control" id="status" ng-model="infoCtrl.input_edit.execution_frequency">
							<option value="">Manually</option>
							<option value="daily">Daily</option>
							<option value="weekly">Weekly</option>
							<option value="monthly">Monthly</option>
						</select>
					</div>
				</div>
	
				<div class="form-group" ng-if="!infoCtrl.workflow.userLock">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" ng-disabled="infoCtrl.editFormIsPristine()">Save</button> 
						<button type="button" class="btn btn-default" ng-click="infoCtrl.resetEditionForm()">Reset</button>
					</div>
				</div>
			</fieldset>
		</form>

		<hr />

		<div ng-if="!infoCtrl.workflow.userLock">
			<h2>Delete this workflow</h2>
			<form class="form-horizontal" ng-submit="infoCtrl.deleteWorkflow()" >
				<fieldset ng-disabled="infoCtrl.workflow.userLock">
					<div class="checkbox">
						<label> 
							<input type="checkbox" ng-model="infoCtrl.input_deletion.confirm_deletion" required> I know what I do and I confirm I want to delete this workflow
						</label>
					</div>
					<button type="submit" class="btn btn-danger" ng-disabled="!infoCtrl.input_deletion.confirm_deletion">Delete (no further	confirmation)</button>
					<button type="button" class="btn btn-default"	ng-click="infoCtrl.cancelDeletion()">No</button>
				</fieldset>
			</form>
		</div>

	</div>

</section>