<div class="workflow-editor-app-state-container" ng-controller="ApplicationStateController as appCtrl">

	<div class="alert-box" ng-show="appCtrl.stateSvc.messages_visibility.any">
	 	<alert ng-repeat="(type, alerts) in appCtrl.stateSvc.messages" type="{{type}}" close="appCtrl.closeAlert(type)" ng-show="appCtrl.stateSvc.messages_visibility[type]">
	 		<ul>
	 			<li ng-repeat="a in alerts">{{a.msg}}</li>
	 		</ul>
	 	</alert>
	</div>
	
	<div class="app-crash" ng-show="appCtrl.stateSvc.status.crash">
		<p>Something very wrong just happened.</p>
	</div>
</div>