<div class="workflow-editor-menu" ng-controller="MenuController as menu">

	<!-- General -->
	<nav class="panel panel-default">

		<div class="panel-heading" ng-click="menu.toggleVisibility('general')">
			General <i class="pull-right" ng-class="menu.getVisibilityClass('general')"></i>
		</div>

		<ul class="list-group sub-panel" collapse="!menu.visibility['general']">
			<li class="list-group-item"><a ng-href="#/">Workflows overview</a></li>
			<li class="list-group-item"><a ng-href="#/workflow/new">New workflow</a></li>
			<li class="list-group-item" ng-show="menu.isAdmin"><a ng-href="#/application/datafunction/list">Data functions</a></li>
			<li class="list-group-item"><a ng-href="#/application/documentation">Documentation</a></li>
		</ul>
	</nav>



	<!-- Workflows	-->
	<nav class="panel panel-default">

		<div class="panel-heading" ng-click="menu.toggleVisibility('workflows')">Workflows <i class="pull-right" ng-class="menu.getVisibilityClass('workflows')"></i></div>

		<div collapse="!menu.visibility['workflows']">

			<div class="panel-body">
				<input class="form-control" type="text" placeholder="Filter" ng-model="menu.input.filter_workflows" />
			</div>


			<div class="panel panel-default sub-panel" ng-repeat="(tag, wflist) in menu.workflowsTagsMatches" ng-hide="menu.non_filtered[tag].length == 0">

				<div class="panel-heading" ng-click="menu.toggleVisibility('workflows.' + tag)">
					<span ng-bind="tag"></span> ({{menu.non_filtered[tag].length}}/{{wflist.length}}) 
					<i class="pull-right"	ng-class="menu.getVisibilityClass('workflows.' + tag, 2)"></i>
				</div>

				<ul class="list-group" collapse="!menu.visibility['workflows.' + tag]">
					<li class="list-group-item" 
						ng-repeat="workflow in menu.non_filtered[tag] = (wflist | workflows:menu.input.filter_workflows )" 
						ng-mouseenter="menu.hovered_workflow = workflow.id"
						ng-mouseleave="menu.hovered_workflow = ''" 
						ng-class="{activeworkflow: workflow.id == menu.hovered_workflow}">
					<a ng-href="#/workflow/{{workflow.id}}">{{workflow.name}} </a></li>
				</ul>

			</div>
		</div>
	</nav>


</div>