<aside class="workflow-editor-status" ng-controller="SystemStatusController as systemStatus">
	<i class="fa fa-{{systemStatus.iconIdentifier}} fa-3x"></i><br/>
	Status: {{systemStatus.status.status}}<br/>
	<a class="small" ng-href="#/application/system-status">Details</a>
</aside>