<div ng-controller="WorkflowDetailHeaderController as hdrCtrl">

	<h1 class="pull-left"><span class="fa fa-scissors fa-fw"> </span> {{hdrCtrl.workflow.name}}</h1>

	<aside class="pull-right workflow-detail-header-status-container">
		
		<span class="workflow-status">Status: 
			<span class="workflow-status-{{hdrCtrl.workflow.status | lowercase}}" 
					ng-bind="hdrCtrl.workflowsService.getUserFriendlyStatus(hdrCtrl.workflow.status)"></span>
		</span>
		 
		<span ng-if="hdrCtrl.workflow.userLock > 0" 
				ng-click="hdrCtrl.display_unlock_workflow = !hdrCtrl.display_unlock_workflow" 
				class="workflow-locked fa fa-lock fa-fw fa-2x"></span>
	    <span ng-if="hdrCtrl.workflow.userLock < 0" class="workflow-locked fa fa-lock fa-fw fa-2x"></span>
	    <span ng-if="!hdrCtrl.workflow.userLock" class="workflow-unlocked fa fa-unlock-alt fa-fw fa-2x"></span>
	    
	    <button type="button" class="btn btn-danger" ng-if="hdrCtrl.display_unlock_workflow" ng-click="hdrCtrl.requestWorkflowUnlock()">Confirm unlock</button>
    
	</aside>

<!-- FIXME depending on status, some may be disabled  -->
	<nav class="workflow-detail-menu">
		<ul class="nav nav-tabs">
			<li class="ng-class: {active: hdrCtrl.section == 'general'}">
				<a ng-href="#/workflow/{{hdrCtrl.workflow.id}}/general">General information</a>
			</li>
			<li class="ng-class: {active: hdrCtrl.section == 'configure-steps'}">
				<a ng-href="#/workflow/{{hdrCtrl.workflow.id}}/configure-steps">Configure steps</a>
			</li>
<!-- 			<li class="ng-class: {active: hdrCtrl.section == 'simulate'}"><a
				ng-href="#/workflow/{{hdrCtrl.workflow.id}}/simulate">Simulate</a></li>
-->
			<li class="ng-class: {active: hdrCtrl.section == 'execution'}">
				<a ng-href="#/workflow/{{hdrCtrl.workflow.id}}/execution">Execution</a>
			</li>
			<li class="ng-class: {active: hdrCtrl.section == 'debug'}">
				<a ng-href="#/workflow/{{hdrCtrl.workflow.id}}/debug">Debug</a>
			</li>
		</ul>
	</nav>
</div>