<section ng-controller="ConfigureWorkflowController as cfgCtrl">

  <header ng-include="'app/common/controllers/workflow-detail-header.tpl.html'"></header>

	<div class="workflow-detail-section-content">
	
		<div ng-if="cfgCtrl.view == 'global'">
			
			<div class="workflow-steps-configuration">
	
				<div class="flow-icon">
					<i class="fa fa-times fa-fw start-icon"></i><br/>
					<i class="fa fa-long-arrow-down fa-fw"></i><br/>
				</div>
				
				<!-- FIXME for now we only support 1 action per step (thus referred to with index 0) -->
				<div class="data-function-step" ng-repeat="step in cfgCtrl.input.steps"> 
					<div class="flow-icon">
						<a ng-if="!cfgCtrl.workflow.userLock" ng-click="cfgCtrl.addStep($index)"><i class="fa fa-plus fa-fw active"></i></a>
						<a ng-if="cfgCtrl.workflow.userLock"><i class="fa fa-plus fa-fw inactive"></i></a>
						<br/>
						<i class="fa fa-long-arrow-down fa-fw"></i>
					</div>
					<div class="payload row">
					
						<div class="intro col col-md-9">
							<h4 ng-bind="step.actions[0].description"></h4>
							<p>Data function type: <span ng-bind="step.actions[0].dataFunction.name"></span></p>
							Tags:<ul>
								<li ng-repeat="tag in step.actions[0].dataFunction.tags" ng-bind="tag.label"></li>
							</ul>
						</div>
						
						<div class="move-arrows col col-md-3">
							<a ng-if="!$first && !cfgCtrl.workflow.userLock" ng-click="cfgCtrl.moveUp($index)"><i class="fa fa-arrow-up fa-fw"></i></a>
							<i ng-if="$first || cfgCtrl.workflow.userLock" class="inactive fa fa-arrow-up fa-fw"></i>
							<a ng-click="cfgCtrl.editStep($index)"><i ng-class="{'fa-edit': !cfgCtrl.workflow.userLock, 'fa-eye': cfgCtrl.workflow.userLock}" class="fa fa-fw"></i></a>
							<a class="remove-step">
 								<button type="button" class="btn btn-danger" ng-show="!!cfgCtrl.display_remove_confirmation[$index]" ng-click="cfgCtrl.removeStep($index)">Confirm</button>
								<button type="button" class="btn btn-default" ng-show="!!cfgCtrl.display_remove_confirmation[$index]" ng-click="cfgCtrl.display_remove_confirmation[$index] = false">Discard</button>
								<i ng-if="!cfgCtrl.workflow.userLock" class="fa fa-remove fa-fw"  ng-click="cfgCtrl.display_remove_confirmation[$index] = true"></i>
								<i ng-if="cfgCtrl.workflow.userLock" class="fa fa-remove fa-fw inactive"></i>
							</a>
							<a ng-if="!$last && !cfgCtrl.workflow.userLock" ng-click="cfgCtrl.moveDown($index)"><i class="fa fa-arrow-down fa-fw"></i></a>
							<i ng-if="$last || cfgCtrl.workflow.userLock" class="inactive fa fa-arrow-down fa-fw"></i>
						</div>
					
					</div>
					<div class="flow-icon"><i class="fa fa-long-arrow-down fa-fw"></i></div>
				</div>
				
				<div class="flow-icon">
					<a ng-if="!cfgCtrl.workflow.userLock" ng-click="cfgCtrl.addStep(cfgCtrl.input.steps.length)"><i class="fa fa-plus fa-fw active"></i></a>
					<a ng-if="cfgCtrl.workflow.userLock"><i class="fa fa-plus fa-fw inactive"></i></a>
					<br/>
					<i class="fa fa-long-arrow-down fa-fw"></i><br/>
					<i class="fa fa-flag-checkered fa-fw end-icon"></i>
				</div>
			</div>
		
		</div>
		
		<!-- New step creation -->
		<div ng-if="cfgCtrl.view == 'new'" class="add-new-step">
		
			<p><em>Add a new step to the workflow</em></p>
			
			<form class="form-horizontal" name="new_step">
		 
				<fieldset ng-disabled="cfgCtrl.workflow.userLock">
					<legend>1. General information</legend>
			
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<input ng-model="cfgCtrl.input_new.description" class="form-control" id="description" placeholder="A descriptive summary of the step" required />
						</div>
					</div>
					
				</fieldset>
				
				<fieldset ng-disabled="cfgCtrl.workflow.userLock">
					<legend>2. Data function type</legend>
					
					<div class="form-group">
						<label for="search" class="col-sm-2 control-label">Search</label>
						<div class="col-sm-5">
							<input ng-model="cfgCtrl.df_filter_input_values.search" type="text" class="form-control" id="search" placeholder="Your search criterion" />
						</div>
					</div>
			
					<div class="form-group">
						<label for="status" class="col-sm-2 control-label">Service type</label>
						<div class="col-sm-5">
							<select class="form-control" id="status" ng-model="cfgCtrl.df_filter_input_values.service_type">
								<option value="">-- All --</option>
								<option ng-repeat="s in [0, 1, 2]" value="{{s}}">{{cfgCtrl.applicationService.getUserFriendlyServiceType(s)}}</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default" ng-click="cfgCtrl.filterDataFunctionList()" ng-disabled="dfListCtrl.dataFunctionFilterFormIsPristine()">Filter</button>
							<button type="button" class="btn btn-default" ng-click="cfgCtrl.resetDataFunctionListFilter()">Reset</button>
						</div>
					</div>
		
					<div class="form-group" >
						<label for="datafunction" class="col-sm-2 control-label">Select a data function model</label>
						<div class="col-sm-10">
							<select class="form-control datafunction-select" id="datafunction" size="10" ng-model="cfgCtrl.input_new.chosen_df" required>
								<option value="">-- Select --</option>
								<option ng-repeat="df in cfgCtrl.new_step_displayed_datafunctions = (
											   cfgCtrl.applicationService.application.dataFunctions | 
											   datafunctions:cfgCtrl.df_filter_input_applied_values.search:cfgCtrl.df_filter_input_applied_values.service_type )"
											   value="{{df.id}}">
									{{df.id}}. {{df.name}} ({{cfgCtrl.applicationService.getUserFriendlyServiceType(df.type)}}): {{df.description}}
								</option>
							</select>
						</div>
					</div>
							
				</fieldset>
				
				
				
				<fieldset class="parameters" ng-disabled="cfgCtrl.workflow.userLock">
					<legend>3. Parameters configuration</legend>
					
					<p ng-if="!cfgCtrl.applicationService.application.dataFunctions[cfgCtrl.input_new.chosen_df].parameters.length">
						No parameter for this data function.
					</p>
					
					<div ng-if="cfgCtrl.applicationService.application.dataFunctions[cfgCtrl.input_new.chosen_df].parameters.length">
					
						<div class="parameter-container" ng-repeat="p in cfgCtrl.applicationService.application.dataFunctions[cfgCtrl.input_new.chosen_df].parameters">
				
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-5">
								<p>Parameter #{{$index+1}}</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="param_{{$index}}_name" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="param_{{$index}}_name" value="{{p.name}}" disabled />
								</div>
							</div>
						
							<div class="form-group">
								<label for="param_{{$index}}_type" class="col-sm-2 control-label">Type</label>
								<div class="col-sm-5">
									<select id="param_{{$index}}_type" class="form-control" disabled>
										<option value="string" ng-selected="{{p.type == 'string'}}">String</option>
										<option value="application/json" ng-selected="{{p.type == 'application/json'}}">application/json</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="param_{{$index}}_mandatory" class="col-sm-2 control-label">Mandatory</label>
								<div class="col-sm-5">
									<select id="param_{{$index}}_mandatory" class="form-control" disabled>
										<option value="false" ng-selected="{{!!p.mandatory}}">No</option>
										<option value="true" ng-selected="{{!!p.mandatory}}">Yes</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="param_{{$index}}_value" class="col-sm-2 control-label">Value</label>
								<div class="col-sm-10">
									<textarea ng-init="cfgCtrl.input_new.parameters[$index].value = p.defaultValue" 
										ng-model="cfgCtrl.input_new.parameters[$index].value" 
										type="text" class="form-control" 
										id="param_{{$index}}_value" 
										ng-required="{{!!p.mandatory}}"> </textarea>
								</div>
							</div>
							
							<div class="form-group">
								<label for="param_{{$index}}_description" class="col-sm-2 control-label">Description</label>
								<div class="col-sm-10">
									<input ng-model="cfgCtrl.input_new.parameters[$index].description" 
										type="text" class="form-control" id="param_{{$index}}_description" />
								</div>
							</div>
							
						</div>
					
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default" ng-disabled="new_step.$invalid" ng-click="cfgCtrl.saveNew()">Save</button>
							<button class="btn btn-default" ng-click="cfgCtrl.cancel()">Cancel</button>
						</div>  
 					</div>
 					
				</fieldset>				
			</form>
		</div>

		<!-- Edition of existing step -->
		<div ng-if="cfgCtrl.view == 'edit'">
		
			<p><em>Edit an existing step</em></p>
			
			<form class="form-horizontal" name="new_step">
		 
				<fieldset ng-disabled="cfgCtrl.workflow.userLock">
					<legend>1. General information</legend>
					
					<div class="form-group">
						<label for="edit_description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<input ng-model="cfgCtrl.input.steps[cfgCtrl.subject].actions[0].description" 
									class="form-control" id="edit_description" placeholder="A descriptive summary of the step" required />
						</div>
					</div>
					
				</fieldset>
				
				
				
				<fieldset class="parameters" ng-disabled="cfgCtrl.workflow.userLock">
					<legend>2. Data function parameters configuration</legend>
					
					<div class="form-group more-space-below">
						<label for="edit_param_{{$index}}_df" class="col-sm-2 control-label">Data function model</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="edit_param_{{$index}}_df" 
								value="{{cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.id}}. {{cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.name}} ({{cfgCtrl.applicationService.getUserFriendlyServiceType(cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.type)}}): {{cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.description}}" disabled />
						</div>
					</div>

					<p ng-if="!cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.parameters.length">
						No parameter for this data function.
					</p>
					
					<div ng-if="cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.parameters.length">
					
						<div class="parameter-container" ng-repeat="p in cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.parameters">
						
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-5">
									<p>Parameter #{{$index+1}}</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="edit_param_{{$index}}_name" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="edit_param_{{$index}}_name" value="{{p.name}}" disabled/>
								</div>
							</div>
						
							<div class="form-group">
								<label for="edit_param_{{$index}}_type" class="col-sm-2 control-label">Type</label>
								<div class="col-sm-5">
									<select id="edit_param_{{$index}}_type" class="form-control" disabled>
										<option value="string" ng-selected="{{p.type == 'string'}}">String</option>
										<option value="application/json" ng-selected="{{p.type == 'application/json'}}">application/json</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="edit_param_{{$index}}_mandatory" class="col-sm-2 control-label">Mandatory</label>
								<div class="col-sm-5">
									<select id="edit_param_{{$index}}_mandatory" class="form-control" disabled>
										<option value="false" ng-selected="{{!!p.mandatory}}">No</option>
										<option value="true" ng-selected="{{!!p.mandatory}}">Yes</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="edit_param_{{$index}}_value" class="col-sm-2 control-label">Value</label>
								<div class="col-sm-10">
									<textarea ng-model="cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.parameters[$index].value" 
										type="text" class="form-control" id="edit_param_{{$index}}_value"
										ng-required="{{!!p.mandatory}}"> </textarea>
								</div>
							</div>
							
							<div class="form-group">
								<label for="edit_param_{{$index}}_description" class="col-sm-2 control-label">Description</label>
								<div class="col-sm-10">
									<input ng-model="cfgCtrl.input.steps[cfgCtrl.subject].actions[0].dataFunction.parameters[$index].description" 
										type="text" class="form-control" id="edit_param_{{$index}}_description" />
								</div>
							</div>
							
						</div>
					
					</div>
						
					<div class="form-group" ng-if="!cfgCtrl.workflow.userLock">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default" ng-disabled="new_step.$invalid" ng-click="cfgCtrl.save()">Save</button>
							<button class="btn btn-default" ng-click="cfgCtrl.cancel()">Cancel</button>
						</div>  
 					</div>
 					
 					<div ng-if="cfgCtrl.workflow.userLock">
 						<a ng-click="cfgCtrl.cancel()">Go back to the steps flow</a>
 					</div>
 					
	
				</fieldset>				
			</form>
			
		</div>

	</div>

</section>

  
  