<section ng-controller="EditDataFunctionController as editDfCtrl">

	<h1><i class="fa fa-plus fa-fw"></i> Create a new data function</h1>

	<div class="datafunction-detail-section-content">

		<p ng-if="editDfCtrl.df.userLock" class="highlight-warning">This data function cannot be edited because it has been locked.
			<button ng-if="editDfCtrl.df.userLock > 0" type="button" class="btn btn-default" ng-click="editDfCtrl.applicationService.unlockDataFunction(editDfCtrl.df.id)">Unlock data function</button>
			<span ng-if="editDfCtrl.df.userLock < 0">It is not possible to unlock it because workflows depend on it.</span>
		</p>
		
		<form class="form-horizontal workflow-editor-data-function-creation" name="create_df">
			
			<fieldset ng-disabled="editDfCtrl.df.userLock">
				<legend>General information</legend>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-5">
						<input ng-model="editDfCtrl.input_edit.name" type="text" class="form-control" id="name"	placeholder="The name of your new data function" required />
					</div>
				</div>
		
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<textarea ng-model="editDfCtrl.input_edit.description" class="form-control" id="description" placeholder="A descriptive summary of the data function"></textarea>
					</div>
				</div>
		
				<div class="form-group">
					<label for="tags" class="col-sm-2 control-label">Tags</label>
					<div class="col-sm-10">
						<tags-input ng-model="editDfCtrl.input_edit.tags" replace-spaces-with-dashes="false" add-on-blur="false" key-property="id" display-property="label" placeholder="Add tags"> 
							<auto-complete source="editDfCtrl.applicationService.getNgTagsInputTags($query)"></auto-complete>
						</tags-input>
					</div>
				</div>
			</fieldset>
			
			<fieldset ng-disabled="editDfCtrl.df.userLock">
				<legend>Service description</legend>
				<div class="form-group">
					<label for="type" class="col-sm-2 control-label">Type</label>
					<div class="col-sm-5">
						<select ng-model="editDfCtrl.input_edit.type" id="type" class="form-control" required>
							<option value="1">WSDL</option>
							<option value="2">REST</option>
							<option value="3">Application</option>
						</select>
					</div>
				</div>
				
				<div class="form-group" ng-show="editDfCtrl.input_edit.type == 2">
					<label for="method" class="col-sm-2 control-label">Method</label>
					<div class="col-sm-5">
						<select ng-model="editDfCtrl.input_edit.method" id="method" class="form-control" ng-required="editDfCtrl.input_edit.type == 2">
							<option value="0">N/A</option>
							<option value="1">GET</option>
							<option value="2">POST</option>
							<option value="3">PUT</option>
							<option value="4">DELETE</option>
						</select>
					</div>
				</div>
				
				<div class="form-group" ng-show="editDfCtrl.input_edit.type == 1 || editDfCtrl.input_edit.type == 2">
					<label for="uri" class="col-sm-2 control-label">URI</label>
					<div class="col-sm-5">
						<input ng-model="editDfCtrl.input_edit.uri" type="text" class="form-control" id="uri" placeholder="Entry point of your service" 
							ng-required="editDfCtrl.input_edit.type == 1 || editDfCtrl.input_edit.type == 2" />
					</div>
				</div>
				
			</fieldset>
		
			<fieldset class="parameters" ng-disabled="editDfCtrl.df.userLock">
				<legend>Parameters</legend>
	
				<div class="parameter-container" ng-repeat="p in editDfCtrl.input_edit.parameters">
				
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-5">
							<p>Parameter #{{$index+1}}</p>
						</div>
					</div>
					
					<div class="form-group">
						<label for="param_{{$index}}_name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-5">
							<input ng-model="editDfCtrl.input_edit.parameters[$index].name" type="text"	class="form-control" id="param_{{$index}}_name"	placeholder="The name of your new data function" required />
						</div>
					</div>
				
					<div class="form-group">
						<label for="param_{{$index}}_type" class="col-sm-2 control-label">Type</label>
						<div class="col-sm-5">
							<select ng-model="editDfCtrl.input_edit.parameters[$index].type" id="param_{{$index}}_type" class="form-control" required>
								<option value="string">String</option>
								<option value="application/json">application/json</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label for="param_{{$index}}_mandatory" class="col-sm-2 control-label">Mandatory</label>
						<div class="col-sm-5">
							<select ng-model="editDfCtrl.input_edit.parameters[$index].mandatory" id="param_{{$index}}_mandatory" class="form-control" required>
								<option value="false">No</option>
								<option value="true">Yes</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label for="param_{{$index}}_default_value" class="col-sm-2 control-label">Default value</label>
						<div class="col-sm-10">
							<textarea ng-model="editDfCtrl.input_edit.parameters[$index].defaultValue" 
								type="text"	class="form-control" id="param_{{$index}}_default_value" placeholder="The default value of this parameter" > </textarea>
						</div>
					</div>
					
					<div class="form-group" ng-if="!editDfCtrl.df.userLock">
						<div class="col-sm-offset-2 col-sm-5">
							<a ng-click="editDfCtrl.removeParameter($index)"><i class="fa fa-remove fa-fw"></i> Remove this parameter</a>
						</div>
					</div>
				</div>
				
				
				<div class="form-group" ng-if="!editDfCtrl.df.userLock">
					<div class="col-sm-offset-2 col-sm-5">
						<a ng-click="editDfCtrl.addParameter()"><i class="fa fa-plus fa-fw"></i> Add a parameter</a>
					</div>
				</div>
					
				<div class="form-group" ng-if="!editDfCtrl.df.userLock">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" ng-click="editDfCtrl.saveDataFunctionInfos()" ng-disabled="create_df.$invalid">Save</button>
						<button type="button" class="btn btn-default" ng-click="editDfCtrl.resetEditionForm()">Reset</button>
					</div>
				</div>
			
			</fieldset>
		</form>
		
		<hr />
	
		<div ng-if="!editDfCtrl.df.userLock">
			<h2>Delete this data function</h2>
			<form class="form-horizontal" ng-submit="editDfCtrl.deleteDataFunction()" >
				<fieldset>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="editDfCtrl.input_deletion.confirm_deletion" required> I know what I do and I confirm I want to delete this workflow
						</label>
					</div>
		
					<button type="submit" class="btn btn-danger" ng-disabled="!editDfCtrl.input_deletion.confirm_deletion">Delete (no further confirmation)</button>
					<button type="button" class="btn btn-default" ng-click="editDfCtrl.cancelDeletion()">No</button>
				</fieldset>
			</form>
		</div>
			
	</div>
</section>