<section ng-controller="DebugWorkflowController as debugCtrl">

	<header	ng-include="'app/common/controllers/workflow-detail-header.tpl.html'"></header>
	
	<div class="workflow-detail-section-content">
<!-- 
	<button type="submit" class="btn btn-default" ng-click="debugCtrl.refreshDebugLog()">Refresh</button>
	<button type="submit" class="btn btn-default" ng-click="debugCtrl.flushDebugLog()">Flush</button>
-->		
		<textarea class="debug-log form-control" ng-bind="debugCtrl.workflow | json" rows="25"></textarea>
<!-- 
	<button type="submit" class="btn btn-default" ng-click="debugCtrl.refreshDebugLog()">Refresh</button>
	<button type="submit" class="btn btn-default" ng-click="debugCtrl.flushDebugLog()">Flush</button>
-->	
	</div>

</section>