<section ng-controller="DataFunctionListingController as dfListCtrl">

	<h1>
		<i class="fa fa-plug fa-fw"></i> Data functions overview
	</h1>


	<form class="form-horizontal" name="filter_listing">
		<div class="form-group">
			<label for="search" class="col-sm-2 control-label">Search</label>
			<div class="col-sm-5">
				<input ng-model="dfListCtrl.input.search" type="text" class="form-control" id="search" placeholder="Your search criterion">
			</div>
		</div>

		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Service type</label>
			<div class="col-sm-5">
				<select class="form-control" id="status" ng-model="dfListCtrl.input.service_type">
					<option value="">-- All --</option>
					<option ng-repeat="s in [0, 1, 2]" value="{{s}}">{{dfListCtrl.applicationService.getUserFriendlyServiceType(s)}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="dfListCtrl.filterList()" ng-disabled="dfListCtrl.filterFormIsPristine()">Filter</button>
				<button type="button" class="btn btn-default" ng-click="dfListCtrl.resetListFilter()">Reset</button>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<a ng-href="#/application/datafunction/new"><i class="fa fa-plus fa-fw"></i> Create a new data function</a>
			</div>
		</div>
		
	</form>

	<div class="table-responsive">
	
		<table class="table">

			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Service type</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="dfListCtrl.displayed_datafunctions.length"
					ng-repeat="df in dfListCtrl.displayed_datafunctions = (
											    dfListCtrl.applicationService.application.dataFunctions |
											   	datafunctions:dfListCtrl.applied_input_values.search:dfListCtrl.applied_input_values.service_type 
				                ) ">
					<td scope="row">{{df.id}}</td>
					<td>{{df.name}}</td>
					<td>{{dfListCtrl.applicationService.getUserFriendlyServiceType(df.type)}}</td>
					<td>
						<div class="btn-group" dropdown>
							<button type="button" class="btn btn-default" ng-click="dfListCtrl.applicationService.triggerDataFunctionAction(df.id, 'view-details')">
								<span ng-if="!df.userLock">View/Edit</span>
								<span ng-if="df.userLock">View</span>
							</button>
							<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
								<span class="caret"></span> <span class="sr-only">Split button</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a ng-click="dfListCtrl.applicationService.triggerDataFunctionAction(df.id, 'clone')">Clone</a></li>
								<li ng-if="!df.userLock"><a ng-click="dfListCtrl.applicationService.triggerDataFunctionAction(df.id, 'delete')">Delete</a></li> 
							</ul>
						</div>
					</td>
				</tr>
				<tr ng-if="dfListCtrl.displayed_datafunctions.length == 0">
					<td colspan="5">No data function available.</td>
				</tr>
			</tbody>

		</table>

	</div>


</section>