<section ng-controller="NewDataFunctionController as newDfCtrl">

	<h1><i class="fa fa-plus fa-fw"></i> Create a new data function</h1>

	<form class="form-horizontal workflow-editor-data-function-creation" name="create_df">
		
		<fieldset>
			<legend>General information</legend>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-5">
					<input ng-model="newDfCtrl.input.name" type="text" class="form-control" id="name" placeholder="The name of your new data function" required />
				</div>
			</div>
	
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea ng-model="newDfCtrl.input.description" class="form-control" id="description" placeholder="A descriptive summary of the data function"></textarea>
				</div>
			</div>
	
			<div class="form-group">
				<label for="tags" class="col-sm-2 control-label">Tags</label>
				<div class="col-sm-10">
					<tags-input ng-model="newDfCtrl.input.tags"
						replace-spaces-with-dashes="false" add-on-blur="false"
						key-property="id" display-property="label" 
						placeholder="Add tags"> <auto-complete
						source="newDfCtrl.applicationService.getNgTagsInputTags($query)"></auto-complete>
					</tags-input>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Service description</legend>
			<div class="form-group">
				<label for="type" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-5">
					<select ng-model="newDfCtrl.input.type" id="type" class="form-control" required>
						<option value="1">WSDL</option>
						<option value="2">REST</option>
						<option value="3">Application</option>
					</select>
				</div>
			</div>
			
			<div class="form-group" ng-show="newDfCtrl.input.type == 2">
				<label for="method" class="col-sm-2 control-label">Method</label>
				<div class="col-sm-5">
					<select ng-model="newDfCtrl.input.method" id="method" class="form-control" ng-required="newDfCtrl.input.type == 2">
						<option value="0">N/A</option>
						<option value="1">GET</option>
						<option value="2">POST</option>
						<option value="3">PUT</option>
						<option value="4">DELETE</option>
					</select>
				</div>
			</div>
			
			<div class="form-group" ng-show="newDfCtrl.input.type == 1 || newDfCtrl.input.type == 2">
				<label for="uri" class="col-sm-2 control-label">URI</label>
				<div class="col-sm-5">
					<input ng-model="newDfCtrl.input.uri" type="text" class="form-control" id="uri" placeholder="Entry point of your service" 
						ng-required="newDfCtrl.input.type == 1 || newDfCtrl.input.type == 2" />
				</div>
			</div>
			
		</fieldset>
	
		<fieldset class="parameters">
			<legend>Parameters</legend>

			<div class="parameter-container" ng-repeat="p in newDfCtrl.input.parameters">
			
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<p>Parameter #{{$index+1}}</p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="param_{{$index}}_name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-5">
						<input ng-model="newDfCtrl.input.parameters[$index].name" type="text" class="form-control" id="param_{{$index}}_name" placeholder="The name of your new data function" required />
					</div>
				</div>
			
				<div class="form-group">
					<label for="param_{{$index}}_type" class="col-sm-2 control-label">Type</label>
					<div class="col-sm-5">
						<select ng-model="newDfCtrl.input.parameters[$index].type" id="param_{{$index}}_type" class="form-control" required>
							<option value="plain/text">String</option>
							<option value="application/json">application/json</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="param_{{$index}}_mandatory" class="col-sm-2 control-label">Mandatory</label>
					<div class="col-sm-5">
						<select ng-model="newDfCtrl.input.parameters[$index].mandatory" id="param_{{$index}}_mandatory" class="form-control" required>
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="param_{{$index}}_default_value" class="col-sm-2 control-label">Default value</label>
					<div class="col-sm-10">
						<textarea ng-model="newDfCtrl.input.parameters[$index].defaultValue" type="text" class="form-control" id="param_{{$index}}_default_value" placeholder="The default value of this parameter" > </textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<a ng-click="newDfCtrl.removeParameter($index)"><i class="fa fa-remove fa-fw"></i> Remove this parameter</a>
					</div>
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5">
					<a ng-click="newDfCtrl.addParameter()"><i class="fa fa-plus fa-fw"></i> Add a parameter</a>
				</div>
			</div>

		</fieldset>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="newDfCtrl.createNewDataFunction()" ng-disabled="create_df.$invalid">Create</button>
				<button type="button" class="btn btn-default" ng-click="newDfCtrl.resetCreationForm()">Reset</button>
			</div>
		</div>
	</form>
	
</section>