<section ng-controller="NewWorkflowController as newCtrl">
	<h1>
		<i class="fa fa-plus fa-fw"></i> Create a new workflow
	</h1>


	<form class="form-horizontal" name="create_workflow">
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-5">
				<input ng-model="newCtrl.input.name" type="text" class="form-control" id="title" placeholder="The title of your new workflow" required />
			</div>
		</div>

		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<textarea ng-model="newCtrl.input.description" class="form-control"	id="description" placeholder="A descriptive summary of the workflow"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label for="tags" class="col-sm-2 control-label">Tags</label>
			<div class="col-sm-10">
				<tags-input ng-model="newCtrl.input.tags" replace-spaces-with-dashes="false" add-on-blur="false" key-property="id" display-property="label"	placeholder="Add tags">
					<auto-complete source="newCtrl.applicationService.getNgTagsInputTags($query)"></auto-complete>
				</tags-input>
			</div>
		</div>

		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Processing frequency</label>
			<div class="col-sm-5">
				<select ng-model="newCtrl.input.execution_frequency" class="form-control" id="status">
					<option value="">Manually</option>
					<option value="daily">Daily</option>
					<option value="weekly">Weekly</option>
					<option value="monthly">Monthly</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="newCtrl.createNewWorkflow()" ng-disabled="create_workflow.$invalid">Create</button>
				<button type="button" class="btn btn-default" ng-click="newCtrl.resetCreationForm()">Reset</button>
			</div>
		</div>
	</form>
</section>