<section ng-controller="SimulateWorkflowController as simCtrl">

  <header ng-include="'app/common/controllers/workflow-detail-header.tpl.html'"></header>

	<div class="workflow-detail-section-content">

  		<p><em>To be implemented.</em></p>

	</div>

</section>
