<section ng-controller="ExecutionWorkflowController as execCtrl">

  <header ng-include="'app/common/controllers/workflow-detail-header.tpl.html'"></header>

	<div class="workflow-detail-section-content">

		<p>
			Run frequency: <span ng-bind="execCtrl.workflowsService.getUserFriendlyWorkflowSchedule(execCtrl.workflow)"></span>
		</p>
		<p>
			Last run: <span ng-bind="execCtrl.workflow.last_run"></span>
		</p>
		
		<button ng-disabled="!execCtrl.workflowsService.canDoAction(execCtrl.workflow.id, 'run')" 
				type="submit" class="btn btn-default" 
				ng-click="execCtrl.workflowsService.triggerAction(execCtrl.workflow.id, 'run')">Run</button>
				
		<button ng-disabled="!execCtrl.workflowsService.canDoAction(execCtrl.workflow.id, 'pause')" 
				type="submit" class="btn btn-default" 
				ng-click="execCtrl.workflowsService.triggerAction(execCtrl.workflow.id, 'pause')">Pause</button>
				
		<button ng-disabled="!execCtrl.workflowsService.canDoAction(execCtrl.workflow.id, 'stop')" 
				type="submit" class="btn btn-default" 
				ng-click="execCtrl.workflowsService.triggerAction(execCtrl.workflow.id, 'stop')">Stop</button>

		<div class="table-responsive">

			<table class="table">

				<thead>
					<tr>
						<th>Date</th>
						<th>Duration</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="execCtrl.workflow.executionHistory.length != 0" ng-repeat="r in execCtrl.workflow.executionHistory">
						<td>{{r.executionTime | date : 'medium'}}</td>
						<td>{{r.duration}}</td>
						<td>{{execCtrl.workflowsService.getUserFriendlyStatus(r.executionResult)}}</td>
					</tr>
					<tr ng-if="execCtrl.workflow.executionHistory.length == 0">
						<td colspan="3">No execution history available.</td>
					</tr>
				</tbody>

			</table>

		</div>


	</div>

</section>

