/**
 * @file workflow-editor.scss
 *
 * These styles completement the bootstrap styles that are being included before
 * the present stylesheet.
 * 
 * This is a sass file, generated with
 *
 * 		$ sass --watch scss:css --style=compressed
 *
 * or via the dedicated grunt task
 *
 * @@source_header
 *
 */
 
$lighter-grey: #fefefe;
$light-grey: #cdcdcd;
$red: #ff0000;
$black: #000000;

// Angular UI Bootstrap requirement
.nav, .pagination, .carousel, .panel-title a 
{
	cursor: pointer; 
}

// cloak angularjs at laoding
[ng\:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak 
{
	display: none !important;
}

// also make ng-click <a> links appear like real links
[ng-click],
[data-ng-click],
[x-ng-click] 
{
	cursor: pointer;
}


.workflow-editor-menu
{			
	nav.panel
	{
		font-weight: bolder;
			
		.panel-heading,
		{
			cursor: pointer;
		}
				
		div.panel-body
		{
			font-weight: normal;
			border-bottom: 1px solid rgb(221,221,221); // FIXME hard coded color, depends on theme
					
			.form-control
			{
				font-size: small;
			}
		}
				
		.sub-panel
		{
			font-weight: normal;
			margin: 0;
			border-width: 0;
			border-bottom-width: 1px;
				
			.fa
			{
				line-height: 1.42857em;
			}

			.activeworkflow a
			{
				text-decoration: underline;
			}

		}
			
		.sub-panel.last
		{
			border-bottom-width: 0;
		}
			
	}
}
	
aside.workflow-editor-status
{
	margin-top: 2em;
	text-align: center;
}
		
	
.workflow-editor-main-content
{
	h1,
	h2
	{
		margin-top: 0;
		margin-bottom: 0.67em;
	}
	
	h2
	{
		font-size: 1.4em;
		margin-bottom: 1em;
	}
	
	nav.workflow-detail-menu
	{
		clear: both;
	}
	
	section
	{
		p.highlight-warning
		{
			color: $red;
			font-size: 1.3em;
		}
		
		aside.workflow-detail-header-status-container
		{
			padding-top: .8em; 
		
			
			.workflow-locked
			{
				color: $red;
			}
			
			.workflow-unlocked
			{
				color: $black;
			}
			
		}
	
		div.table-responsive
		{
			overflow: visible;
		}
	
		.workflow-detail-section-content,
		.datafunction-detail-section-content
		{	
			padding: 1em;
		
			textarea.debug-log
			{
				max-height: 50em;
				background: $lighter-grey;
				width: 100%;
				min-width: 100%;
				max-width: 100%;
			}
			
			button
			{
				 margin: 1em 0;
			}	
		}
		
		tags-input .tags .tag-item
		{
			background: $lighter-grey;
			
			&.selected
			{
				color: $red;
				border: 1px solid $red;
				background: $lighter-grey;
			 
				.remove-button
				{
					color: $red;
				}
			}
		}
		
		textarea
		{
			max-width: 100%;
		}
		
		
		fieldset.parameters
		{
			margin-bottom: 1em;
		
			div.parameter-container
			{
				margin-bottom: 1.5em;
				
				p
				{
					margin: 0;
					font-style: italic;
				}	
				
				> *
				{
					margin-bottom: 0.5em;
				}
				
			}
		}
		
		.form-group.more-space-below
		{
			margin-bottom: 2em;
		}
			
		div.workflow-steps-configuration
		{
		
			max-width: 1000px;
			margin: 0 auto;
			
			div.flow-icon
			{
				text-align: center;
				font-size: 1.5em;
				line-height: 0.8em;

				i.start-icon,
				i.end-icon
				{
					font-size: 2em;
				}
				
				i.fa-long-arrow-down 
				{
					color: $light-grey;
				}
				
				i.fa-plus.inactive
				{
					color: $light-grey;
				}
				
				i.fa-plus
				{
					transition-property: font-size;
					transition-duration: .1s;
					transition-timing-function: linear;
				}
				
				i.fa-plus.active:hover
				{
					font-size: 4em;
				}
			}
			
			div.data-function-step
			{
				div.payload
				{
					border: 1px solid $light-grey;
					padding: 1em 0;
					
					div.intro
					{
						border-botom: 1px solid $light-grey;
						
						h4
						{
							margin-top: 0;
						}
						
						ul
						{
							padding: 0;
							display: inline;
							margin-left: 1.5em;
							
							li
							{
								list-style-type: none;
								display: inline-block;
								margin-right: 1em;
							}
						}
					}
					
					div.move-arrows
					{
						
						text-align: right;
						
						i
						{
							font-size: 2em;
							margin-right: 0.5em;
							line-height: 1.5em;
							margin-left: .25em;
						}
						
						a
						{
							display: block;
						}
						
						a:hover
						{
							text-decoration: none;
						}
						
						i.inactive
						{
							color: $light-grey;
						}
						
						a.remove-step
						{
							button
							{
								margin: -0.5em 0 0 0;	
							}
						}
						
					}
					
					div.add-new-step
					{
						select.datafunction-select option
						{
							line-height: 1.3em;
						}
					}
				}
				
			}
		}

	}
}
	
	
div.workflow-editor-app-state-container
{
	.app-crash
	{
		background: white;
		color: black;
		padding: 1em;
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		width:100%;
		height: 100%;
	}
	
	.alert-box
	{
		li
		{
			list-style-type: none;
			line-height: 1.2em;
			margin: 0.5em 0;
		}
	}
}

