<section ng-controller="ListController as listCtrl">

	<h1>
		<i class="fa fa-dashboard fa-fw"></i> Workflows overview
	</h1>
	
	<form class="form-horizontal" name="filter_listing">
		<div class="form-group">
			<label for="search" class="col-sm-2 control-label">Search</label>
			<div class="col-sm-5">
				<input ng-model="listCtrl.input.search" type="text"	class="form-control" id="search" placeholder="Your search criterion">
			</div>
		</div>

		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Status</label>
			<div class="col-sm-5">
				<select class="form-control" id="status" ng-model="listCtrl.input.status">
					<option value="">-- All --</option>
					<option ng-repeat="s in [0, 1, 2, 3, 4, 5, 6]" value="{{s}}">{{listCtrl.workflowsService.getUserFriendlyStatus(s)}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="listCtrl.filterList()" ng-disabled="listCtrl.filterFormIsPristine()">Filter</button>
				<button type="button" class="btn btn-default" ng-click="listCtrl.resetListFilter()">Reset</button>
			</div>
		</div>
	</form>

	<div class="table-responsive">
		<table class="table">

			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Last execution</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="listCtrl.displayed_workflows.length" 
					ng-repeat="w in listCtrl.displayed_workflows = (
											    listCtrl.workflowsService.getListOfWorkflows() |
											    workflows:listCtrl.applied_input_values.search:listCtrl.applied_input_values.status 
				                ) ">
					<td scope="row">{{w.id}}</td>
					<td>{{w.name}}</td>
					<td>{{w.last_execution}}</td>
					<td>{{listCtrl.workflowsService.getUserFriendlyStatus(w.status)}}</td>
					<td>
						<div class="btn-group" dropdown>

							<button type="button" class="btn btn-default" ng-click="listCtrl.workflowsService.triggerAction(w.id, 'view-details')">View	details</button>
							<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
								<span class="caret"></span> <span class="sr-only">Split button</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-if="listCtrl.workflowsService.canDoAction(w.id, 'run')"><a ng-click="listCtrl.workflowsService.triggerAction(w.id, 'run')">Run</a></li>
								<li ng-if="listCtrl.workflowsService.canDoAction(w.id, 'pause')"><a ng-click="listCtrl.workflowsService.triggerAction(w.id, 'pause')">Pause</a></li>
								<li ng-if="listCtrl.workflowsService.canDoAction(w.id, 'stop')"><a ng-click="listCtrl.workflowsService.triggerAction(w.id, 'stop')">Stop</a></li>
								<li ng-if="listCtrl.workflowsService.canDoAction(w.id, 'clone')"><a ng-click="listCtrl.workflowsService.triggerAction(w.id, 'clone')">Clone</a></li>
								<li ng-if="listCtrl.workflowsService.canDoAction(w.id, 'delete')"><a ng-click="listCtrl.workflowsService.triggerAction(w.id, 'delete')">Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr ng-if="listCtrl.displayed_workflows.length == 0">
					<td colspan="5">No workflow available.</td>
				</tr>
			</tbody>

		</table>

	</div>


</section>